<div class="edit">
	<h1>Editing Book</h1>
	<div class="newbox">
		<%= form_for(@book) do |f| %>

		<div class="newbox-text">
    		<label for="book_title">Title</label>
    		<%= f.text_field :title %>
		</div>
		<div class="newbox-text">
    		<label for="book_body">Body</label>
    		<%= f.text_area :body %>
		</div>

		<div class="update-book">
    		<%= f.submit 'Update Book' %>
		</div>

    		<%=link_to "Show",book_path(@book.id)%>|

			<%= link_to "Back",books_path%>

		<% end %>
	</div>
</div>
